<div class="login">
    <div class="login_card">
        <div *ngIf="login == true">
            <div class="login_card__title">Log in</div>
            <form>
                <div class="input_item">
                    <label>username</label>
                    <input type="username" name="username" [(ngModel)]="userModel.username">
                </div>
                <div class="input_item">
                    <label>Password</label>
                    <input type="password" name="password" [(ngModel)]="userModel.password">
                </div>
                <button (click)="onSubmit()">Login</button>
            </form>
            <div class="selector" (click)="login = false">Нет аккаунта? Зарегайся!</div>
        </div>
        <!---->
        <div *ngIf="login == false">
            <div class="login_card__title">Sign up</div>
            <form>
                <div class="input_item">
                    <label>username</label>
                    <input type="username" name="username" [(ngModel)]="userModel.username">
                </div>
                <div class="input_item">
                    <label>Password</label>
                    <input type="password" name="password" [(ngModel)]="userModel.password">
                </div>
                <div class="input_item">
                    <label>Confirm password</label>
                    <input type="password" name="password2" [(ngModel)]="userModel.password2">
                </div>
                <button (click)="onSubmit()">Signup</button>
            </form>
            <div class="selector" (click)="login = true">Уже есть аккаунт, войди!</div>
        </div>
    </div>
</div>
