.header {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 1rem 10rem;
    background: #2D3053;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}
.header div {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: auto auto auto 1fr;
}
a {
   color: #fff; 
   font-weight: bold;
   text-decoration: none;
   padding: 0.5rem 1rem;
   border-radius: 5px;
   transition: 0.2s;
}
a:hover:not(.disabled):not(.active) {
    background: rgba(29, 31, 53, 0.486);
    transition: 0.2s;
}
.disabled {
    color: rgb(151, 151, 151);
}
.active {
    color: #55A6F4;
}
@media (max-width: 1220px) {
    .header {
        padding: 0 2rem;
    }
}
@media (max-width: 970px) {
    .header {
        padding: 0;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }
}